
@{
    ViewBag.Title = "ShowPropertyInfo";
}

<div class="form-group">
    <h3>Fastighetsinformation</h3>
    <div class="col-xs-20">
        <div class="form-group">
            <select class="form-control">
                <option>Kommun</option>
                <option>Malmö</option>
                <option>Burlöv</option>
                <option>Svedala</option>
                <option>Lomma</option>
                <option>Vellinge</option>
                <option>Staffanstorp</option>
                <option>Trelleborg</option>
            </select>
        </div>
    </div>
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Bostadsrättsförening" required />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Fastighetsbeteckning">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Ort">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Organisationsnummer">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Adress" required />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Postnr" required />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Ekonomisk förvaltare">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Teknisk förvaltare">
    </div>
</div>

