
@{
    ViewBag.Title = "IndexRegister";
}
@model Energiporten.Models.RegisterModel

<form method="post" action="SubmitUser">
	<div id="loginInfo" class="form-group">
		<div class="stepwizard">
			<div class="stepwizard-row">
				<div class="stepwizard-step">
					<a type="button" class="btn btn-primary btn-circle">1</a>
					<p>Registrera Email  </p>
				</div>
				<div class="stepwizard-step">
					<a type="button" class="btn btn-default btn-circle">2</a>
					<p>Personlig Information</p>
				</div>
				<div class="stepwizard-step">
					<button type="button" class="btn btn-default btn-circle">3</button>
					<p>Val av Brf</p>
				</div>
			</div>
		</div>
		<form action="https://www.energiporten.se/" method="get" class="form-horizontal login">
			<fieldset>
				<div class="form-group">
					<div id="emailMessage" class="confirmMessage"></div>
					<input type="email" name="email" class="form-control field" id="email" placeholder="E-postadress" required />
				</div>
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control field" placeholder="Lösenord" required />
				</div>
				<div class="form-group">
					<input type="password" id="passwordAgain" name="passwordAgain" class="form-control field" placeholder="Upprepa lösenord" required />
				</div>
				<div id="passwordMessage" hidden></div>
				<div class="form-group">
					<input type="submit" id="clickLogin" class="btn btn-success center-block" value="nästa" />
				</div>
			</fieldset>
	</div>
	<div id="personalInfo"></div>
	<div id="brfInfo"></div>
	<div id="buildingInfo"></div>
	<div id="propertyInfo"></div>
	<div id="energyInfo"></div>
</form>
<script>
	var correctEmail;
	var correctPassword;
    $('#clickLogin').click(function () {
        $.ajax({
            url: 'ShowPersonalInfo',
            type: 'GET',
            error: function () {
                console.log("Error");
            },
            success: function (data) {
                $('#personalInfo').append(data);
                $('#loginInfo').hide();
            }
        });
        event.preventDefault();
    });
	
    $('#email').change(function () {
        var email = $('#email').val();
        $('#emailMessage').empty();

        $.ajax({
            url: 'ValidateEmail',
            type: 'POST',
            data: {
                //__RequestVerificationToken: token,
                email: email
            },
			success: function (data) {
				$('#emailMessage').append('<span>' + data.message + '</span>');
				if (data.works) {
					correctEmail = true;
				} else {
					correctEmail = false;
				}
				if (correctEmail && correctPassword) {
					document.getElementById('clickLogin').disabled = false;
				} else {
					document.getElementById('clickLogin').disabled = true;
				}
			}

		});

		if (correctEmail && correctPassword) {
			document.getElementById('clickLogin').disabled = false;
		} else {
			document.getElementById('clickLogin').disabled = true;
		}
    });

    $('#passwordAgain').keyup(function () {
        var pass1 = document.getElementById('password');
        var pass2 = document.getElementById('passwordAgain');
        var nextButton = document.getElementById('clickLogin');
        //Store the Confimation Message Object ...
        var message = document.getElementById('passwordMessage');
        //Set the colors we will be using ...
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        //Compare the values in the password field 
        //and the confirmation field
        if (pass1.value == pass2.value) {
            //The passwords match. 
            //Set the color to the good color and inform
            //the user that they have entered the correct password 
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = "Passwords Match!";
			correctPassword = true;
            
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "Passwords Do Not Match!";
			correctPassword = false;
		}
		if (correctEmail && correctPassword) {
			document.getElementById('clickLogin').disabled = false;
		} else {
			document.getElementById('clickLogin').disabled = true;
		}

    });
</script>