
@{
    ViewBag.Title = "IndexRegister";
}
@model Energiporten.Models.RegisterModel

<h2>Registrera</h2>
<form method="post" action="SubmitUser">
    <div id="loginInfo">
        <div>
            <label>E-post: </label>
            <input type="text" name="Email" class="form-control" /></input>
        </div>
        <div>
            <label>Lösenord: </label>
            <input type="text" name="Password" /></input>
        </div>
        <div>
            <label>Lösenord igen: </label>
            <input type="text" name="PasswordAgain" /></input>
        </div>
        <div>
            <button id="clickLogin">Nästa</button>
        </div>
    </div>
    <div id="personalInfo"></div>
    <div id="brfInfo"></div>
</form>
<script>
    $('#clickLogin').click(function () {
        $.ajax({
            url: 'ShowPersonalInfo',
            type: 'GET',
            error: function () {
                //$('#info').html('<p>An error has occurred</p>');
            },
            success: function (data) {
                $('#personalInfo').append(data);
                $('#loginInfo').hide();
            }
        });
        event.preventDefault();
    });
</script>