
@{
	ViewBag.Title = "login";
	Layout = null;
}
<hr>
<h3>Logga in</h3>
<hr>
<form action="https://www.energiporten.se/" method="get" class="form-horizontal login">
	<fieldset>
		<div class="form-group">
			<input type="email" class="form-control field" id="inputEmail" placeholder="E-postadress" required />
		</div>
		<div class="form-group">
			<input type="password" id="password" class="form-control field" placeholder="Lösenord" required />
		</div>
		<a id="eyeButton" class="eye-open"><span id="mrEye" class="glyphicon glyphicon-eye-open"></span></a>
		<div class="form-group">
			<div class="checkbox">
				<label><input type="checkbox"> Kom ihåg mina uppgifter</label>
			</div>
		</div>
		<div class="form-group">
			<a>Har du glömt ditt lösenord?</a>
		</div>
		<div class="form-group">

			<input id="clickLogin" type="submit" class="center-block btn btn-info" value="Logga in" />


		</div>
	</fieldset>
</form>

<hr>
<a href="form.html" type="button" class="center-block btn btn-success">
	<span class="glyphicon glyphicon-plus"></span> Skapa nytt konto
</a>
<hr>
                    </div>
                </div>
            </div>
            </div>
        </div></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	$('#clickLogin').click(function () {
		$.ajax({
			url: 'ShowPersonalInfo',
			type: 'GET',
			error: function () {
				//$('#info').html('<p>An error has occurred</p>');
			},
			success: function (data) {
				$('#personalInfo').append(data);
				$('#loginInfo').hide();
			}
		});
		event.preventDefault();
	});
</script>