@{
    ViewBag.Title = "ShowPropertyInfo";
    Layout = null;
}

<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Byggnad</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Fastighet</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">3</button>
            <p>Energidata</p>
        </div>
    </div>
</div>

<div class="form-group">
    <select class="form-control">
        <option>Kommun</option>
        <option>Malmö</option>
        <option>Burlöv</option>
        <option>Svedala</option>
        <option>Lomma</option>
        <option>Vellinge</option>
        <option>Staffanstorp</option>
        <option>Trelleborg</option>
    </select>
</div>
<div class="form-group">
    <div id="address-autocomplete">
        <div id="locationField">
            <input class="form-control field" id="autocomplete" placeholder="Mingata 20A, Stockholm, 141 75, Stockholm län, Sverige"
                   onFocus="geolocate()" type="text" autocomplete="off"></input>
        </div>
    </div>
</div>
<div id="address-form" style="display:none;">
    <div class="form-group">
        <input name="brfaddress" type="text" class="form-control" id="route" maxlength="255" placeholder="Gata" required></input>
    </div>
    <div class="form-group">
        <input name="brfstreet_number" type="text" class="form-control" id="street_number" maxlength="10" placeholder="Gatunummer"></input>
    </div>
    <div class="form-group">
        <input name="brfzip" type="text" class="form-control" id="postal_code" maxlength="10" placeholder="Postnummer" required>
    </div>
    <div class="form-group">
        <input name="brfcity" type="text" class="form-control" id="postal_town" maxlength="100" placeholder="Stad" required></input>
    </div>
    <div class="form-group">
        <input name="brfadmin" type="text" class="form-control" id="administrative_area_level_1" maxlength="100" placeholder="Län" required>
    </div>
    <div class="form-group">
        <input name="brfcountry" type="text" class="form-control field" id="country" maxlength="100" placeholder="Land" required>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control field" placeholder="Bostadsrättsförening" required />
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control field" placeholder="Fastighetsbeteckning">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control field" placeholder="Organisationsnummer">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control field" placeholder="Ekonomisk förvaltare">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control field" placeholder="Teknisk förvaltare">
    </div>
</div>
<div>
    <button id="clickEnergy" class="btn btn-success center-block">Nästa</button>
</div>
<script>
    $('#clickEnergy').click(function () {
        $.ajax({
            url: 'ShowEnergyInfo',
            type: 'GET',
            error: function () {
                //$('#info').html('<p>An error has occurred</p>');
            },
            success: function (data) {
                console.log('success');
                $('#energyInfo').append(data);
                $('#propertyInfo').hide();
            }
        });
        event.preventDefault();
    });
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVRlce9PBZki9IR8K4TLPe4hawRrp0Vdk&libraries=places&callback=initAutocomplete" async defer></script>

