
@{
    ViewBag.Title = "ShowPersonalInfo";
    Layout = null;
}
<div>
    <label>Namn: </label>
    <input type="text" name="FirstName" /></input>
</div>
<div>
    <label>Efternamn: </label>
    <input type="text" name="LastName" /></input>
</div>
<div>
    <label>Tele: </label>
    <input type="text" name="Phone" /></input>
</div>
<div id="address-autocomplete">
    <label for="address">Address</label>
    <div id="locationField">
        <input class="form-control" id="autocomplete" placeholder="Mingata 20A, Stockholm, 141 75, Stockholm län, Sverige"
               onFocus="geolocate()" type="text" autocomplete="off"></input>
    </div>
</div>
<div id="address-form" style="display:none;">
    <label for="address">Address</label>
    <input name="address" type="text" class="form-control" id="route" maxlength="255" placeholder="Mingata" required></input>
    <label for="adress">Gatunummer</label>
    <input name="street_number" type="text" class="form-control" id="street_number" maxlength="10" placeholder="20A"></input>
    <label for="zip">Postnummer</label>
    <input name="zip" type="text" class="form-control" id="postal_code" maxlength="10" placeholder="141 75" required>
    <label for="city">Stad</label>
    <input name="city" type="text" class="form-control" id="postal_town" maxlength="100" placeholder="Stockholm" required></input>
    <label for="admin">Admin</label>
    <input name="admin" type="text" class="form-control" id="administrative_area_level_1" maxlength="100" placeholder="Stockholm län" required>
    <label for="country">Land</label>
    <input name="country" type="text" class="form-control" id="country" maxlength="100" placeholder="Sverige" required>
</div>
<div>
    <button id="clickPersonal">Nästa</button>
</div>
<script src="@Url.Content("~/Scripts/Register/showPersonalInfo.js")"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVRlce9PBZki9IR8K4TLPe4hawRrp0Vdk&libraries=places&callback=initAutocomplete" async defer></script>