@{
	ViewBag.Title = "ShowPropertyInfo";
	Layout = null;
}
<div class="stepwizard">
	<div class="stepwizard-row">
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle">1</button>
			<p>Byggnad</p>
		</div>
		<div class="stepwizard-step">
			<button type="button" class="btn btn-primary btn-circle">2</button>
			<p>Fastighet</p>
		</div>
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle">3</button>
			<p>Energidata</p>
		</div>
	</div>

</div>

<div class="form-group">
	<select class="form-control">
		<option>Kommun</option>
		<option>Malmö</option>
		<option>Burlöv</option>
		<option>Svedala</option>
		<option>Lomma</option>
		<option>Vellinge</option>
		<option>Staffanstorp</option>
		<option>Trelleborg</option>
	</select>
</div>

<div class="form-group">
	<div class="col-xs-20">
		<input type="text" class="form-control field" placeholder="Bostadsrättsförening" required />
	</div>
</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Fastighetsbeteckning">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Ort">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Organisationsnummer">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Adress" required />
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Postnr" required />
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Ekonomisk förvaltare">
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-20">
			<input type="text" class="form-control field" placeholder="Teknisk förvaltare">
		</div>
	</div>
	<div>
		<button id="clickEnergy" class="btn btn-success center-block">Nästa</button>
	</div>
	<script>
		$('#clickEnergy').click(function () {
			$.ajax({
				url: 'ShowEnergyInfo',
				type: 'GET',
				error: function () {
					//$('#info').html('<p>An error has occurred</p>');
				},
				success: function (data) {
					console.log('success');
					$('#energyInfo').append(data);
					$('#propertyInfo').hide();
				}
			});
			event.preventDefault();
		});
		$(document).ready(function () {
			$('[data-toggle="popover"]').popover();
		});
	</script>
