
@{
    ViewBag.Title = "ShowBrfSelect";
    Layout = null;
}
<input type="text" id="searchBrf" />
<div id="form-id" class="form-group">
    <div class="row-fluid">
        <select id="selectBrf" class="selectpicker" data-show-subtext="true" data-live-search="true">
            <option data-subtext="" value="none">Sök efter din förening</option>
        </select>
    </div>
</div>

<div>
    <button type="submit">Spara</button>
    <button id="addBrf">Lägg till Brf</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="@Url.Content("~/Scripts/Register/showBrfSelect.js")"></script>
