
@{
    ViewBag.Title = "ShowBrfSelect";
    Layout = null;
}

<div>
    <label>Sök efter brf: </label>
    <input type="text" /></input>
</div>
<div>
    <button type="submit">Spara</button>
    <button id="addBrf">Lägg till Brf</button>
</div>
<script>
$('#saveUser').click(function () {
    $.ajax({
        url: 'ShowPersonalInfo',
        type: 'POST',
        error: function () {
            //$('#info').html('<p>An error has occurred</p>');
        },
        success: function (data) {
            $('#loginInfo').hide();
        }
    });
});
</script>