
@{
    ViewBag.Title = "ShowBrfSelect";
    Layout = null;
}
<div class="stepwizard">
	<div class="stepwizard-row">
		<div class="stepwizard-step">
			<a type="button" class="btn btn-default btn-circle">1</a>
			<p>Registrera Email  </p>
		</div>
		<div class="stepwizard-step">
			<a type="button" class="btn btn-default btn-circle">2</a>
			<p>Personlig Information</p>
		</div>
		<div class="stepwizard-step">
			<button type="button" class="btn btn-primary btn-circle">3</button>
			<p>Val av Brf</p>
		</div>

	</div>
</div>
<div>
    <label>Sök efter brf: </label>
    <input type="text" /></input>
</div>
<div>
    <button type="submit">Spara</button>
    <button id="addBrf">Lägg till Brf</button>
</div>
<script>
$('#saveUser').click(function () {
    $.ajax({
        url: 'ShowPersonalInfo',
        type: 'POST',
        error: function () {
            //$('#info').html('<p>An error has occurred</p>');
        },
        success: function (data) {
			$('#loginInfo').hide();
			$('#brfInfo').hide();
        }
    });
});
	$('#addBrf').click(function () {
		$.ajax({
			url: 'ShowBuildingInfo',
			type: 'GET',
			error: function () {
				console.log("Error");
			},
			success: function (data) {
				$('#buildingInfo').append(data);
				$('#brfInfo').hide();

			}
		});
		event.preventDefault();
	});

</script>