
@{
    ViewBag.Title = "ShowBrfSelect";
    Layout = null;
}

<div>
    <label>Sök efter brf: </label>
    <input type="text" /></input>
</div>
<div>
    <button id="saveUser">Spara</button>
    <button id="addBrf">Lägg till Brf</button>
</div>
<div>
    <button id="goBack">Bakåt</button>

</div>