@{
    ViewBag.Title = "ShowEnergyInfo";
    Layout = null;
}

<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Byggnad</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">2</button>
            <p>Fastighet</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">3</button>
            <p>Energidata</p>
        </div>
    </div>

</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Huvudsakling uppvärmning">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Kompletterande uppvärmning">
    </div>
</div>

<div class="form-group">
    <div class="col-xs-20">
        <input type="text" class="form-control" placeholder="Energiprestanda (enligt energideklaration)">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-20">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Utförd energideklaration">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info" data-toggle="popover" title="information" data-content="Energideklarationen är ett verktyg för att minska en byggnads energiåtgång, driftskostnader och utsläpp av växthusgaser. Den gör det enklare att se vilka åtgärder för energibesparing som är lönsamma och ger en möjlighet att skapa en bättre inomhusmiljö.
">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </button>
            </div>
        </div>
    </div>
</div>
    <div class="col-xs-20">
        <label for="checkBox"> Gemensam energi </label>
        <ul id="chboxes1" ul style="list-style-type: none">
            <li><input type="checkbox" name="imd-tvattstuga" value="imd-tvattstuga"> IMD-tvättstuga</li>
            <li><input type="checkbox" name="imd-tvv" value="imd-tvv"> IMD-tvv</li>
            <li><input type="checkbox" name="imd-varme" value="imd-varme"> IMD-värme</li>
            <li><input type="checkbox" name="energilagring" value="energilagring"> Energilagring</li>
            <li><input type="checkbox" name="elbilsladdare" value="elbilsladdare"> Elbilsladdare</li>
            <li><input type="checkbox" name="hiss" value="hiss"> Hiss</li>
            <li><input type="checkbox" name="miljohus" value="miljohus"> Miljöhus (grönt tak)</li>
            <li><input type="checkbox" name="vvc" value="vvc"> Tappvarmvattenslinga (VVC)</li>
            <li><input type="checkbox" name="gronel" value="gronel"> Grön el</li>
            <li><input type="checkbox" name="andelsagdel" value="andelsagdel"> Andelsägd el</li>
            <li><input type="checkbox" name="tvattstuga" value="tvattstuga"> Gemensam tvättstuga</li>
        </ul>
    </div>
    <div class="col-xs-20">
        <label for="checkBox"> Källsortering </label>
        <ul id="chboxes2" ul style="list-style-type:none">
            <li><input type="checkbox" name="restavfall" value="restavfall"> Restavfall (brännbart)</li>
            <li><input type="checkbox" name="batterier" value="batterier"> Batterier</li>
            <li><input type="checkbox" name="elektronik" value="elektronik"> Elektronik</li>
            <li><input type="checkbox" name="glas" value="glas"> Glas</li>
            <li><input type="checkbox" name="kartonger" value="kartonger"> Kartonger (wellpapp)</li>
            <li><input type="checkbox" name="textiler" value="textiler"> Textiler</li>
            <li><input type="checkbox" name="avfall" value="avfall"> Farlig avfall</li>
            <li><input type="checkbox" name="metall" value="metall"> Metallförpackningar</li>
            <li><input type="checkbox" name="matavfall" value="matavfall"> Matavfall</li>
            <li><input type="checkbox" name="mediciner" value="medciner"> Mediciner/läkemedel</li>
            <li><input type="checkbox" name="tidningar" value="tidningar"> Tidningar</li>
            <li><input type="checkbox" name="tradgardsavfall" value="tradgardsavfall"> Trädgårdsavfall</li>
        </ul>
    </div>
<div id="modal">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">METRY</h4>
                </div>
                <div class="modal-body">
                    <picture>
                        <img src="https://www.bastec.se/wp-content/uploads/2016/08/Metry-i-nytt-samarbete-med-BAS2.jpg" alt="#">
                    </picture>
                    <p>Metry är till för att hjälpa energianvändare att spara energi genom att på ett enkelt sätt tillgängliggöra produkter, verktyg och tjänster för energibesparing.</p>
                    <p>Den vanligaste flaskhalsen för att spara energi är tillgång på energidata, därför har Metry utvecklat ett enkelt sätt att sammanställa data från 100-tals nätbolag, miljoner smarta mätare och till och med gamla icke fjärravlästa energimätare.</p>
                    <p>När all energidata samlats hos Metry är energianvändare bara ett klick bort från att spara energi.</p>

                </div>
                <div class="modal-footer">
                    <label>
                        <input type="checkbox" name="terms"> Gå med i
                        <a target="_blank" href="https://metry.io/sv/">Metry</a>?
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <input type="submit" value="Slutför" id="nextbutton2" class="btn btn-success center-block" />
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>