body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("https://images.pexels.com/photos/432786/pexels-photo-432786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#form-id {
	padding: 0px;
}

.well {
	background-color: #eff0ee;
}
 
#done {
	width: 100%;
	height: auto;
}

h4 {
	margin-top: -30px;
}

.modal-footer {
    text-align: center;
}

a.eye-open {
	position: absolute;
	margin-left: 90px;
	margin-top: -40px;
}

#nextbutton {
	width: 100%;
}

#nextbutton2 {
	width: 100%;
}

.back {
	width: 50%;
}

h3 {
	text-align: center;
	text-transform: uppercase;
}

h5 {
	font-size: 15px;
	text-align: center;
}

label {
	font-size: 18px;
	margin: 15px;
}

input.field {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

select {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.form-group {
	padding-left: 20px;
	padding-right: 20px;
}

.btn-success {
	text-transform: uppercase;
}

.btn-warning {
	text-transform: uppercase;
}

.btn-info {
	text-transform: uppercase;
	background-color: #125e80;
	border-color: #125e80;
}

.btn-info:hover {
	background-color: #074B69;
}

div.well {
	text-align: center;
	padding: 50px;
}

div.row-fluid {
	margin-bottom: 100px;
}

div.filter-option-inner-inner {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

button.btn.dropdown-toggle.btn-light {
	background-color: #125e80 !important;
	width: 115%;
}

div.dropdown.bootstrap-select.show {
	margin-left: 26%;
}

div.stepwizard {
	width: 110%;
	margin-left: -75px;
}

div.stepwizard-row {
	width: auto;
}

div.stepwizard-step {
	width: 25%;
}

.stepwizard-step p {
	margin-top: 10px;
}

.stepwizard-row {
	display: table-row;
}

.stepwizard {
	display: table;
	width: 100%;
	position: relative;
	font-size: 11px;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.surveymonkey {
	margin-top: 5%;
}

.information {
	margin-left: 60%;
	margin-right: 60%;
}

.site-logo {
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

#backbutton {
	margin-top: 4%;
	width: 100%;
}

.btn-info {
	background-color: #125e80;
	border-style: none;
}

.btn-info:hover {
	background-color: #0d4159;
	border-style: none;
}

.checkboxes {
	margin-left: 20px;
}

#chboxes1, #chboxes2, #chboxes3, #chboxes4 {
    list-style: none;
    float: left;
    text-align: center;
}

.checkBox > h4 {
    float: left;
}

/* Spinner 1 */
.spinner-1:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	border-radius: 50%;
	border: 3px solid lightgray;
	border-top-color: green;
	animation: spinner 0.7s linear infinite;
}

/* Spinner 2 */
.spinner-2:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: 20px;
	margin-left: -30px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: green;
	border-bottom-color: green;
	animation: spinner 0.7s ease infinite;
}

/* Spinner 3 */
.spinner-3:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	border-radius: 50%;
	border-top: 2px solid green;
	border-right: 2px solid transparent;
	animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
